//general description

%h1
  = @mod.title

-if @mod.is_derivate?
  %p
    Mod is derivate of previous mod called
    = @mod.original.title

%p
  Author:
  = link_to @mod.team.name, team_path(@mod.team)
-unless @mod.authors.empty?
  %p
    Co-authors:
    -for team in @mod.authors
      = link_to team.name, team_path(team)

%p
  = link_to "Website", @mod.website_url
  
%p
  Game: 
  =link_to @mod.game.name, game_path(@mod.game)

%p
  %strong
    = @mod.short_description

%p
  Description: 
  = @mod.description
  
%p
  Credits: 
  = @mod.credits


//display releases
%h2
  Releases

-unless @mod.releases.empty?
  %ul
  -for release in @mod.releases
    = render :partial => 'releases/show_short', :locals => {:release => release}
-else
  %p
    There were no releases of this mod so far.
= link_to "Create Release", new_mod_release_path(@mod)
       
       
// display derivates
-if @mod.has_derivates?
  %h2
    Derivates 
  %ul
  -for derivate in @mod.derivates
    = derivate.title
        
        
%p
  = link_to 'Edit', edit_mod_path(@mod)
  |
  = link_to 'Back', mods_path
