//general description

%h1
  = @mod.title

%p
  Author:
  -for team in @mod.authors
    = link_to team.name, team_path(team)

%p
  = link_to "Website", @mod.website_url
  
%p
  Game: 
  //= link_to @mod.game.name, @mod.game.website_url
  =link_to @mod.game.name, game_path(@mod.game)

%p
  %strong
    = @mod.short_description

%p
  Description: 
  = @mod.description
  
%p
  Credits: 
  = @mod.credits


//display releases
%h2
  Releases

-unless @mod.releases.empty?
  %ul
  -for release in @mod.releases
    = render :partial => 'releases/show_short', :locals => {:release => release}
-else
  %p
    There were no releases of this mod so far.
= link_to "Create Release", new_mod_release_path(@mod)
        

= link_to 'Edit', edit_mod_path(@mod)
|
= link_to 'Back', mods_path
