//general description

%h1
  = @mod.title

%p
  -for team in @mod.authors
    = team.name

%p
  = link_to "Website", @mod.website_url

%p
  %strong
    = @mod.short_description

%p
  = @mod.description
  
%p
  = @mod.credits


//display releases

-unless @mod.releases.empty?
  %ul
  -for release in @mod.releases
    = render :partial => 'releases/show_short', :locals => {:release => release}
-else
  %p
    There were no releases of this mod so far.
= link_to "Create Release", new_mod_release_path(@mod)
        

= link_to 'Edit', edit_mod_path(@mod)
|
= link_to 'Back', mods_path
