= stylesheet_link_tag "emastic/reset", "emastic/grid", "emastic/type", "emastic/plugins/gagdets"
= stylesheet_link_tag "layout.css"
= stylesheet_link_tag "style.css"
/[if IE]
  = stylesheet_link_tag "frontend/emastic/ie.css"
/[if IE 6]
  = stylesheet_link_tag "layout_ie6.css"
/[if IE 7]
  = stylesheet_link_tag "layout_ie7.css"
