%p Fields with * are mandatory
%fieldset{:title => "New Release"}
  %legend Release details
  %p
    = f.label :title, "Titel"
    = f.text_field :title
  %p
    = f.label :version, "Version"
    = f.text_field :version
  %p
    = f.label :change_log, "Change log"
    = f.text_area :change_log, :cols => 20, :rows => "5"